@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="headerDiv"><h2>ML Commercials Recognition Platform</h2></div>
<br />

<div id="tab">
    <button id="btnCommercials" class="tablinks btn-light" onclick="openTab(event, 'Labels')">Commercials</button>
    <button id="btnCommercialTimeFrames" class="tablinks btn-light" onclick="openTab(event, 'LabelTimeFrames')">Time Frames</button>
    <button id="btnImageCheck" class="tablinks btn-light" onclick="openTab(event, 'ImageCheck')">Image Check</button>
    @*<button id="btnManageCustomCommercials" class="tablinks btn-light" onclick="openTab(event, 'ManageCustomCms')">Manage Custom Commercials</button>*@
    <button id="btnEvaluationStreams" class="tablinks btn-light" onclick="openTab(event, 'EvaluationStreams')">Evaluation Streams</button>
</div>

<div id="Labels" class="tabcontent">
    <div id="divCommercialsHeader">
        <h3 class="tab-custom-header">Commercials (Labels)</h3>
        <button id="buttonCreateCommercial" onclick="OpenCreateCommercialModal()">Create Commercial Label</button>
    </div>
    <br />
    <div id="divCommercials" class="col-md-12"></div>
    <div id="divCommercialsPagination" class="col-md-12" style="margin-bottom:3%">
        <div id="labelPagination" class="float-right"></div>
    </div>

    <div id="createCommercialModal" class="commercial-modal">
        <div class="commercial-modal-content">
            <span id="createCommercialModalXSpan" class="closeX" onclick="CloseCreateCommercialModal()">&times;</span>
            <div class="commercial-modal-content-form">
                <span>New Commercial Name:</span>
                <input id="newCommercialInput" type="text" name="newCommercialInput" />
                <button id="buttonCreateNewCommercial" onclick="CreateNewCommercial()" class="btn btn-success">Create</button>
            </div>
        </div>
    </div>
</div>

<div id="LabelTimeFrames" class="tabcontent">
    <h3>Time Frames</h3>
    <br />
    <div id="timeFramesDiv" class="col-md-12"></div>
</div>

<div id="ImageCheck" class="tabcontent">
    <h3>Image Check</h3>

    <br />

    <div>
        <form id="formCheckLabel" method="post" enctype="multipart/form-data">
            <div>
                <p>Select a file image using this form to predict its label:</p>
            </div>
            <div>
                <input type="file" id="imgFile" name="imageFile" onchange="preview_image(event)">
                <img id="theImage" src="#" alt="image" />
                <br />
                <br />
                <input type="submit" value="Check Label" name="submit">
            </div>
            <br />

            <div id="divPrediction" class="col-md-10"></div>
            <div id="divProbability" class="col-md-10"></div>
            <div id="divSaveCustomImage" class="col-md-10"></div>
            <br />
            <input id="buttonSaveCustomImage" hidden type="button" onclick="SaveCustomImage()" value="Save Custom Image" name="buttonSaveCustomImage">
        </form>
    </div>
    <br />
    <br />


</div>

@*<div id="ManageCustomCms" class="tabcontent">
    <h3>Manage Custom Commercials</h3>
    <br />
    <div id="manageCustomCmsDiv" class="col-md-12"></div>
</div>*@

<div id="EvaluationStreams" class="tabcontent">

    <div id="divCommercialsHeader">
        <h3 class="tab-custom-header">Evaluation Streams</h3>
        <button id="buttonCreateEvaluationStream" onclick="OpenCreateEvaluationStreamModal(true)">Create Evaluation Stream</button>
    </div>
    <br />
    <div id="evaluationStreamsDiv" class="col-md-12"></div>

    <div id="createEvaluationStreamModal" class="commercial-modal">
        <div class="evaluation-stream-modal-content">
            <span id="createCommercialModalXSpan" class="closeX" onclick="CloseCreateEvaluationStreamModal()">&times;</span>
            <div class="evaluation-stream-modal-content-form">
                <input id="idEvaluationStreamInput" class="evaluation-stream-input" type="text" name="idEvaluationStreamInput" hidden />
                <label for="nameEvaluationStreamInput">Name</label>
                <input id="nameEvaluationStreamInput" class="evaluation-stream-input" type="text" name="nameEvaluationStreamInput" />
                <br />
                <label for="streamEvaluationStreamInput">Stream:</label>
                <input id="streamEvaluationStreamInput" class="evaluation-stream-input" type="text" name="streamEvaluationStreamInput" />
                <br />
                <label for="codeEvaluationStreamInput">Code:</label>
                <input id="codeEvaluationStreamInput" class="evaluation-stream-input" type="text" name="codeEvaluationStreamInput" />
                <br />
                <label for="isActiveEvaluationStreamInput">IsActive:</label>
                <input id="isActiveEvaluationStreamInput" type="checkbox" name="isActiveEvaluationStreamInput" />
                <br />
                <br />
                <button id="buttonCreateNewEvaluationStream" onclick="CreateEvaluationStream()" class="btn btn-success">Create</button>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />

@section Scripts {
    <script src="~/js/upload.js"></script>
    <script src="~/js/image-picker.js"></script>
    <script src="~/js/jquery.simplePagination.js"></script>

    <script type="text/javascript">
        window.onload = function hello() {
            document.getElementById('divPrediction').innerHTML = 'Area to show the awesome prediction!';
        };
    </script>
}