@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="headerDiv"><h2>ML Advertisement Recognition Platform</h2></div>
<br />

<div id="tab">
    <button id="btnAdvertisements" class="tablinks btn-light" onclick="openTab(event, 'Labels')">Advertisements</button>
    <button id="btnAdvertisementTimeFrames" class="tablinks btn-light" onclick="openTab(event, 'LabelTimeFrames')">Time Frames</button>
    <button id="btnImageCheck" class="tablinks btn-light" onclick="openTab(event, 'ImageCheck')">Image Check</button>
    <button id="btnManageCustomAdvertisements" class="tablinks btn-light" onclick="openTab(event, 'ManageCustomAds')">Manage Custom Ads</button>
</div>

<div id="Labels" class="tabcontent">
    <div id="divAdvertisementsHeader">
        <h3 id="advertismentsHeader">Advertisements (Labels)</h3>
        <button id="buttonCreateAdvertisement" onclick="OpenCreateAdvertisementModal()">Create Label</button>
    </div>
    <br />
    <div id="divAdvertisements" class="col-md-12"></div>
    <div id="divAdvertisementsPagination" class="col-md-12" style="margin-bottom:3%">
        <div id="labelPagination" class="float-right"></div>
    </div>

    <div id="createAdvertisementModal" class="advertisement-modal">
        <div class="advertisement-modal-content">
            <span id="createAdvertisementModalXSpan" class="closeX" onclick="CloseCreateAdvertisementModal()">&times;</span>
            <div class="advertisement-modal-content-form">
                <span>New Advertisement Name:</span>
                <input id="newAdvertisementInput" type="text" name="newAdvertisementInput" />
                <button id="buttonCreateNewAdvertisement" onclick="CreateNewAdvertisement()" class="btn btn-success">Create</button>
            </div>
        </div>

    </div>
</div>

<div id="LabelTimeFrames" class="tabcontent">
    <h3>Time Frames</h3>
    <br />
    <div id="timeFramesDiv" class="col-md-12"></div>
</div>

<div id="ImageCheck" class="tabcontent">
    <h3>Image Check</h3>

    <br />

    <div>
        <form id="formCheckLabel" method="post" enctype="multipart/form-data">
            <div>
                <p>Select a file image using this form to predict its label:</p>
            </div>
            <div>
                <input type="file" id="imgFile" name="imageFile" onchange="preview_image(event)">
                <img id="theImage" src="#" alt="image" />
                <br />
                <br />
                <input type="submit" value="Check Label" name="submit">
            </div>
            <br />

            <div id="divPrediction" class="col-md-10"></div>
            <div id="divProbability" class="col-md-10"></div>
            <div id="divSaveCustomImage" class="col-md-10"></div>
            <br />
            <input id="buttonSaveCustomImage" hidden type="button" onclick="SaveCustomImage()" value="Save Custom Image" name="buttonSaveCustomImage">
        </form>
    </div>
    <br />
    <br />


</div>

<div id="ManageCustomAds" class="tabcontent">
    <h3>Manage Custom Ads</h3>
    <br />
    <div id="manageCustomAdsDiv" class="col-md-12"></div>
</div>

<br />
<br />
<br />

@section Scripts {
    <script src="~/js/upload.js"></script>
    <script src="~/js/image-picker.min.js"></script>
    <script src="~/js/jquery.simplePagination.js"></script>

    <script type="text/javascript">
        window.onload = function hello() {
            document.getElementById('divPrediction').innerHTML = 'Area to show the awesome prediction!';
        };
    </script>
}